PGCustomerRegistration/src/main/resources/netsuite.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://serviceplandetails.webservices.utilityservices.powergen.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="ServicePlanWSService"
	targetNamespace="http://serviceplandetails.webservices.utilityservices.powergen.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://serviceplandetails.webservices.utilityservices.powergen.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://serviceplandetails.webservices.utilityservices.powergen.com/"
			version="1.0">
			<xs:element name="getServicePlans" type="tns:getServicePlans" />
			<xs:element name="getServicePlansResponse" type="tns:getServicePlansResponse" />
			<xs:complexType name="getServicePlans">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getServicePlansResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:servicePlan" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="servicePlan">
				<xs:sequence>
					<xs:element minOccurs="0" name="end_date" type="xs:string" />
					<xs:element minOccurs="0" name="id" type="xs:int" />
					<xs:element minOccurs="0" name="service_plan" type="xs:string" />
					<xs:element minOccurs="0" name="start_date" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getServicePlans">
		<wsdl:part element="tns:getServicePlans" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getServicePlansResponse">
		<wsdl:part element="tns:getServicePlansResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServicePlanWS">
		<wsdl:operation name="getServicePlans">
			<wsdl:input message="tns:getServicePlans" name="getServicePlans"></wsdl:input>
			<wsdl:output message="tns:getServicePlansResponse" name="getServicePlansResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServicePlanWSServiceSoapBinding" type="tns:ServicePlanWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getServicePlans">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getServicePlans">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getServicePlansResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicePlanWSService">
		<wsdl:port binding="tns:ServicePlanWSServiceSoapBinding"
			name="ServicePlanWSPort">
			<soap:address
				location="http://localhost:8080/PGUtilityWebService/services/serviceplan" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>